.input1 {
    margin: 2%;
  }
  
  .signup {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(144, 222, 248);
  }
  
  .signupButton {
    width: max-content;
    margin: 1%;
  }
  