.navbar .navbarlinks {
  margin-right: auto;
  margin-left: 12%;
  display: flex;
}
.navbar a {
  margin: auto;
  text-decoration: none;
  color: rgb(63, 63, 63);
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.navbar {
  align-items:flex-start;
  display: flex;
  align-items: center;
  width: 100%;
  // border-top: 1px solid #acacaca0;
  // height: 10px;
  ///////////////////////////////////////////////////////////////////////////////////////////////////
  // background-color: #d3d2d2;
  // -moz-box-shadow: -1px 4px 12px #000000;
  //  -webkit-box-shadow: -1px 4px 12px #c9c6c6;
  box-shadow: 0px 5px 8px #a09c9c;
}

.searchArea image {
  position: relative;
  padding: 10px;
  pointer-events: none;
  left: 0px;
  right: 0px;
  image-resolution: 72dpi;
}

.searchbtn {
  background-color: #d01463;
  position: relative;
  border: 0;
  width: 28px;
  height: 35px;
  font-size: xx-large;
  display: inline-flex;
}
.searchbtn:hover {
  background-color: #991049;
}

.searchArea input {
  width: 300px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f2f2f2;
  border: 1px solid #d3d2d2;
  border-radius: 3px;
  border-right: 0;
}
.searchArea input:focus {
  outline: none;
}

.searchArea {
  margin: auto;
  /* width:inherit; */
  height: 35px;
  display: flex;
  position: relative;
}

.header {
  flex: auto;
  ////////////////////////////////////////////////////////////////////////////////////
  // background-color:#d3d2d2 ;
}

.topArea {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 2000px;
  margin: auto;
}
.bottomArea {
  margin-bottom: 20px;
}

.logo {
  margin-left: auto;
}

#userchar.login {
  font-size: 35px;
  width: 45px;
  height: 45px;
  background-color: #991049;
  color: wheat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  margin: 5px;
}

.username:hover {
  color: #f1356d;
  cursor: pointer;
}
