
// .servicesCarousel{
//     width: 100%;
//     align-items: center;
//     color: #fff;
// }

.servicesCarousel{
    width: 1276px;
    // margin: auto;

}

.carousel
{
    width:98%;
    margin:auto;
    
}
